{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "header"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "no-console": 1,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "argsIgnorePattern": "^_", // Ignore variables starting with an underscore
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-misused-promises": "error",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false,
        "variables": true,
        "allowNamedExports": false
      }
    ],
    "header/header": [2, "./resources/license.header.js"]
  },
  "ignorePatterns": [
    "lib/*",
    ".vscode/*",
    "bundle-jobs.cjs",
    "scripts",
    "package.json",
    "testWallet.json",
    "irys",
    "tsconfig.*",
    "tests/stubFiles/*"
  ]
}
