# env files
.env

# Coverage and nyc_output directories used by tools like istanbul
coverage
.nyc_output
node_modules

#  Lambda builds
*.zip 

.husky/_
.eslintcache

# Build folder
/lib

# OSX
.DS_Store

# Env
**/.env

#Yarn
#https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# 🕵️‍♂️
.wallet

.terraform
.terragrunt-cache
